/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-nov-2022, 9:06:29
    Author     : Sena
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body{
    margin: 0%;
}
.container_{  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group{
    margin: 7% !important;
}
button{
    margin-top: 5% !important;
   
}
.but{
    margin-right: 3%;
}
.log {
    /* margin-left: 50%; */
    height: 79%;
    /* padding: 8px; */
}
.nav{
    width: 100%;
    height: 7em;
        background-color: rgb(48 45 45);
    -webkit-box-shadow: 14px -6px 31px -17px rgb(10 10 9);
    -moz-box-shadow: 14px -6px 31px -17px rgba(10,10,9,1);
    box-shadow: 14px -6px 31px -17px rgb(10 10 9);
    display: flex;
    align-items: center;justify-content: space-between;
        padding: 2%;

 
}
i{
    margin-right: 0.5em;
}
.log img{
        height: 100%;
}

