/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/10/2022, 11:32:45 PM
    Author     : David
*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Hind+Madurai:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Teko:wght@300&display=swap');

body{
      margin: 0%;
      height: 100vh;
}
.container_admin{
      width: 100%;
      height: 100vh;
      display: flex;
      max-width: 1700px;
}
.nav_admin{
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 1%;
      background-color: rgb(129, 128, 128);
      -webkit-box-shadow: 14px -6px 31px -17px rgba(10,10,9,1);
      -moz-box-shadow: 14px -6px 31px -17px rgba(10,10,9,1);
      box-shadow: 14px -6px 31px -17px rgba(10,10,9,1);
}
.logo_admin{
      height: 20%;
      margin: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
}
.log_a{
    width: 70%;
}
.opcion_a{
      height: 70%;
      margin: 5%;
      display: flex;
      flex-direction: column;
}
.option_{
      width: 100%;
      height: 10%;
      
}
i{
      color: rgb(5, 2, 0);
      font-size: 1.3em;
      width: 1.5em;
}
a{
      font-family: 'Hind Madurai', sans-serif;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      font-size:1.2em;
      color: white;
      margin-left: 3%;
}
.option_:hover{
      background-color: white;
      transition: 1s;
      border-radius: 5px;
}
a:hover{
      color: black;
      transition: 0.5s;
}

.ver_t{
      display: none;
}
.trabajador{
      display: flex;
      width: 100%;
      padding: 2%;
}
/*registrar trabajador*/
.reg_t{
      display: none;
}
.trabajadorR{
      display: flex;
      width: 100%;
      padding: 2%;
      align-items: center;
}
/*ver mesas*/
.ver_m{
      display: none;
}
.mesaV{
      display: flex;
      width: 100%;
      padding: 2%;
}
/*registrar mesas*/
.reg_m{
      display: none;
}
.mesaR{
      display: flex;
      width: 100%;
      padding: 2%;
}
/*ver productos*/
.ver_p{
      display: none;
}
.productoV{
      display: flex;
      width: 100%;
      padding: 2%; 
}
/*registrar producto*/
.reg_p{
      display: none;
}
.productoR{
      display: flex;
      width: 100%;
      padding: 2%; 
}
/*reporte ventas*/
.report{
      display: none;
}
.reportV{
      display: flex;
      width: 100%;
      padding: 2%; 
}
.user_r{
      display: flex;
      flex-direction: column;
      width: 80%;
      align-items: center;
      padding: 7%;
}
h1{
      font-family: 'Bitter', serif !important;
      font-family: 'Teko', sans-serif  !important;
      font-weight: bold;
}
.form{
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-top: 5%;
      width: 55%;
}
button{
      width: 50%;
}
#button{
      width: 100%;
      display: flex;
      justify-content: center;
}
.incorrecta{
      display: none;
}
.act{
      background-color: red;
      color: white;
      display: flex;
      align-items: center;
      padding: 3%;
      border-radius: 5px;
}
p{
      margin: 0 !important;
}
#err{
      color: white;
}