/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/11/2022, 11:39:20 AM
    Author     : David
*/

h1{
    text-align: center;
    padding: 3%;
    color: rgb(5, 17, 47);
}
.align-items-center{
    text-align: center;
}
.ms{
    width: 100%;
    text-align: center;
}